<%= form_for [@product, @review] do |form| %>

  <% if form.object.errors.any? %>
    <div class="alert alert-danger">
      <strong>The following errors prevented submission:</strong>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= form.hidden_field :rating %>

    <div class='star-rater'>
      <% (1..5).each do |i| %>
        <span class='star _<%= i %>'>
          <%= fa_icon('star-o') %>
        </span>
      <% end %>
      <script>
        $(document).ready(function() {

          function setStars(starNum) {
            for (var i = 1; i <= 5; i += 1) {
              if (i <= starNum) {
                $('.write-review span.star._' + i + ' i').attr('class', 'fa fa-star');
              } else {
                $('.write-review span.star._' + i + ' i').attr('class', 'fa fa-star-o');
              }
            }
          }

          for (var i = 1; i <= 5; i += 1) {
            (function(starNum){
              $('span.star._' + starNum).on({
                click: function() {
                  $('#review_rating').val(starNum);
                },
                mouseover: function() {
                  setStars(starNum);
                },
                mouseleave: function() {
                  setStars($('#review_rating').val());
                }
              });
            })(i);
          }

        });
      </script>
    </div>
    <%#= form.label :rating %>
    <%#= form.select :rating, (1..5), { include_blank: true }, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <%= form.submit 'Submit Review', class: 'btn btn-primary' %>
<% end %>