<h4>Customer Reviews</h4>
<div class='customer'>
  <% @product.reviews.order('created_at desc').each do |review| %>
    <div class='review'>
      <div>

        <% (1..5).each do |i| %>
          <span class='star'><%= i <= review.rating ? fa_icon('star') : fa_icon('star-o') %></span>
        <% end %>

        <span>
          <b>
            <%= review.rating.to_words.capitalize %>
            <%= review.rating == 1 ? 'Star' : 'Stars' %>
          </b>
        </span>

      </div>
      <div>
        By <%= review.user.first_name %>
        on <%= review.created_at.strftime("%B %e, %Y") %>
      </div>
      <div><%= review.description %></div>

      <% if review.user == current_user %>
        <%= link_to [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure you want to delete your review?" } do %>
          <%= fa_icon('trash') %> &nbsp; Delete review &nbsp;
        <% end %>
      <% end %>

    </div>
  <% end %>
</div>